<div class="container">'
  <div class="row">
    <% for(var i=0; i<journal.length; i++) {%>
      <h3> <%= journal[i].topic %> </h3>
      <p class="flow-text"><%= journal[i].content %></p>
    <% } %>
    </ul>
  </div>
</div>