<!doctype html>
<html>
  <head>
    <title><%= title %>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <% include index.ejs %>
  </body>
</html>
    
